<h1>Secret page</h1>


<% if(user) {%>
   

    <h3><%= user.username %> logged in successfully</h3>

    <% } %>

    <!-- <% if(isLoggedIn) {%>
   

        <h3>Yaaa</h3>
    
        <% } %>
     -->
    



<form action="/logOut" method="GET">

<button>logout</button>
</form>