<h1>This is events page</h1>

<p>

    <a href="/login">Login</a>

</p>

<p>

    <a href="/signup">Sign up</a>

</p>




<a href="/auth/google">Sign In with Google</a>

<p>
<a href="/auth/facebook">Sign In with Facebook</a>

</p>