<h1>Sign-up page</h1>

<form action="/signup" method="POST">

<input type="email" name="email" placeholder="Enter the email">
<input type="password" name="password" placeholder="Enter the pasword">

<button>Submit</button>

</form>